/*
Project:        Slack Gallery
Description:    Styling for a webpage that displays an image gallery using photos 
                from a public gallery consumed through an API. Open and view gallery 
                in a lightbox.
Author:         Vik Kumar
Notes:          Responsive mobile first design - breakpoints at: 
                  - Small devices (tablets, 768px and up
                  - Medium devices (desktops, 992px and up)
                  - Large devices (large desktops, 1200px and up
                  
                  @media (min-width: 768px) { ... }
                     
*/



/**************************************
 * GENERAL
 **************************************/
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html {
  height: 100%; 
}

.container {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

body {
   background-color: #eee;
   color: #FFFFFF;
   font-family: Arial, Calibri, Helvetica, sans-serif;
   min-height: 100%;
}  

h1 {
  display: block;
  color: #FCB720;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: 400;   
}

a {
   color: #FFFFFF;
}

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}


/**************************************
 * HEADER 
 **************************************/


/**************************************
 * MAIN 
 **************************************/

/* Thumbnails */

.thumbnails-list {
   margin: 0;
   padding: 0;
   list-style-type: none;  
}

.thumbnails-list li {
   display: inline-block;
   width: 98%;
   margin-top: 1%;
}
  
  .thumbnails-list li img {
    display: block;
    margin: 0 auto;  
  }
  
@media (min-width: 768px) { 
  .thumbnails-list li {
     display: inline-block;  
     width: 48%;         
  } 
  
  .thumbnails-list li:nth-child(odd) {
     margin-right: 2%;
  }
        
  .thumbnails-list li img {
    max-height: 180px;    
    cursor: pointer;
  }  
  
}

@media (min-width: 992px) { 
  .thumbnails-list li {
     display: inline-block;
     width: 23.5%;
     margin-right: 2%;
  }
  
  .thumbnails-list li:nth-child(4n) {
    margin-right: 0;
  }
  
}
.thumbnail {
   width: 100%;
}


.thumbnail:hover,
.thumbnail:focus
{
   border: 1px solid #FCB720;
   opacity: 0.7;
}

/**************************************
 * FOOTER 
 **************************************/

.pager {
  text-align: center;
}

#js-pager {
  display: inline-block;
  padding: 0;  
}

#js-pager li {
  display: block;
  float: left;
  list-style-type: none;
  padding: 0 10px;
}

#js-pager li a {
  color: #34c89a;
}  

  #js-pager li a.active {
    font-size: 1.15em;
    font-weight: 600;
  }


/**************************************
 * LIGHTBOX
 **************************************/
#lb-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.77);
  text-align: center;
}

#outside-wrap {
  display: inline-block;
  position: relative; 
  top: 15%;
}

#lb-wrapper {
  position: relative;
  text-align: center;
}
  #lb-wrapper img {
    width: 350px;
    height: auto;
  }
  
#lb-wrapper span {
  bottom: 80px;
  color: #fcb720;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.77);
  padding: 5px 0;
}  
  
#lb-controllers {
  position: absolute;
  bottom: 55px;
  height: 100%;
  width: 55px;   
  right: 43%;  
}

.lb-btn {
  position: absolute;
  bottom: -50px;
  text-indent: -9999px;
  height: 45px;
  width: 55px;   
  cursor: pointer;
  border: 0 none;
  outline: none;
  opacity: 0.75;
}
  .lb-btn:hover {
    opacity: 1;
  }

#close-btn { 
  background: rgba(0, 0, 0, 0) url("../images/sprite-3.png") no-repeat scroll -15px 3px / 57px 50px;
  height: 26px;
  position: absolute;
  right: -150px;
  top: 60px;
  width: 29px; 
  cursor: pointer;
  opacity: 0.75;
}
  #close-btn:hover {
    opacity: 1;     
  }
  
#right-btn {
  left: 50%;  
  background: rgba(0, 0, 0, 0) url("../images/sprite-3.png") no-repeat scroll -44px -33px / 90px 76px;
}

#left-btn {
  right: 50%;
  background: rgba(0, 0, 0, 0) url("../images/sprite-3.png") no-repeat scroll 8px -33px / 90px 76px;
}